
<footer style="background-color: #e3f2fd">
    <div class="row " style="padding-top: 15px">
        <div class="col-md-3 offset-2">
            <h6 class="text-uppercase mb-4 font-weight-bold"><a href="#">Qui sommes-nous?</a> </h6>
            <h6 class="text-uppercase mb-4 font-weight-bold"><a href="#">Votre sécurrité</a></h6>
        </div>
        <div class="col-md-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Newsletter</h6>
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="annoncee@example.com"><br>

                </div>
                <button type="submit" class="btn degrad rondeur">Restez informer</button>
            </form>
        </div>
        <div class="col-md-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fa fa-home mr-3"></i>Moroni, Mbouzini</p>
            <p><i class="fa fa-envelope mr-3"></i> zatruinfo@gmail.com</p>
            <p><i class="fa fa-phone mr-3"></i> + 269 777 10 48</p>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-5 col-lg-5 offset-1">

            <!--Copyright-->
            <p>&copy; {{ "now"|date("Y") }} &middot; AnnonceZatru by <a href="https://www.facebook.com/fyouss1">@fara</a> - annoncezatru@gmail.com</p>
        </div>
        <div class="col-md-4 col-lg-4 ml-lg-0">

            <!-- Social buttons -->
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>